In [ ]:
#1. Write a code to create a string with your name and print it.

In [ ]:
Name = "Rajesh vemra"

print(Name)

Rajesh vemra

In [ ]:
#2. Write a code to find the length of the string "Hello World".

In [ ]:
len("Hello World")

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming.

In [ ]:
print("Python Programming"[:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase

In [ ]:
a = "hello"

uppercase_a = a.upper()

print(uppercase_a)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
text = "I like apple"

print(text)

I like apple

In [ ]:
# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

print(new_text)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list[1, 2, 3, 4, 5]

list[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]

#apend

my_list.append(10)

print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]

#Remove

my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']

#access second element
second_element = my_list[1]

print(second_element)

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = ['a', 'b', 'c', 'd']

#reverse the list
my_list.reverse()

print(my_list)

['d', 'c', 'b', 'a']

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)

print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')

#access second to last element
second_to_last = my_tuple[-2]

print(second_to_last)

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)

#minimum number
min_num = min(my_tuple)

print(min_num)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')

#index of the element
index_element = my_tuple.index("cat")

print(index_element)

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "orange")

# Check if "kiwi" is in the tuple
kiwi_check = "kiwi" in fruits

print(kiwi_check)

False

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}

print(my_set)

{'a', 'c', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Clear all
my_set.clear()

print(my_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}

# remove
my_set.remove(4)

print(my_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

#intersection
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
dictionary = {
    "name": "Rajesh verma",
    "age": 26,
    "city": "Ghaziabad"
}

print(dictionary)

{'name': 'Rajesh verma', 'age': 26, 'city': 'Ghaziabad'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
person = {'name': 'John', 'age': 25}

# Add a new key-value pair
person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
person = {'name': 'Alice', 'age': 30}

# Access the value of "name"
name_value = person['name']

print(name_value)

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

#remove the key "age"
del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
key_exists = "city" in person

print(key_exists)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Ashish Rawat', 'age': 27, 'city': 'Ghaziabad'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Ashish Rawat', 'age': 27, 'city': 'Ghaziabad'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort it in ascending order
random_numbers.sort()

print(random_numbers)

[6, 23, 27, 29, 72]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index

In [ ]:
my_list = ["apple", "banana", "orange", "pineapple",]

print(my_list[3])

pineapple

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {1, 2}
dict2 = {3, 4}

# Combine dictionaries
dict1.update(dict2)

print(dict1)

{1, 2, 3, 4}

In [ ]:
#30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "orange", "pineapple", "banana"]

# Convert the list to a set
my_set = set(my_list)

print(my_set)

{'banana', 'pineapple', 'orange', 'apple'}